body {
  font-family: AvanttTRIAL-Regular;
}
.roboto-mono {
  font-family: "Roboto Mono", serif;
}
.swiper {
  width: 100%;
  height: auto !important;
}
.swiper-slide .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar {
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Initially hidden */
}
.sidebar.open {
  transform: translateX(0); /* Show sidebar */
}
.overlay {
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Prevent interaction */
}
.overlay.visible {
  opacity: 0.5; /* Show overlay */
  pointer-events: all; /* Allow interaction */
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: linear-gradient(135deg, #ffa280, #8fd9d9) !important;
}
