body {
  font-family: AvanttTRIAL-Regular;
}
.roboto-mono {
  font-family: "Roboto Mono", serif;
}
.shadow:hover {
  box-shadow: 0px 3px 15px 0px rgb(228, 178, 178);
}
.swiper {
  width: 100%;
  height: auto !important;
}
.sidebar {
  transition: transform 0.3s ease;
  transform: translateX(100%); /* Initially hidden */
}
.sidebar.open {
  transform: translateX(0); /* Show sidebar */
}
.overlay {
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Prevent interaction */
}
.overlay.visible {
  opacity: 0.5; /* Show overlay */
  pointer-events: all; /* Allow interaction */
}
